<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pelitahidup.gpib.pelitahidup">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SbuActivity"></activity>
        <activity android:name=".activity.WartaJemaatActivity" />
        <activity android:name=".activity.InformasiActivity" />
        <activity android:name=".activity.DataJemaatActivity" />
        <activity android:name=".activity.JadwalIbadahActivity" />
        <activity android:name=".activity.VisiMisiActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.SignInActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.WelcomeActivity" />
    </application>

</manifest>